/*body {
  background-color: black;
}*/

.movie-card{
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 120px;
  height: 177px;
  margin: 5px;
}

.movie-card:hover {
  cursor: pointer;
}

