.movie-div{
  max-width: 93%;
  margin: auto;
  height: 320px;
  background-repeat: no-repeat;
  background-size: contain;
}

.info-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-family: 'Amatic SC', cursive;
  background: linear-gradient(to left, black 72%, transparent 97%);
  background-position: -27px;
  width: 72%;
  float: right;
  height: 100%;
}

.info-div *{
  margin-left: 33%;
  margin-top: 0;
}

.title {
  font-size: 44px;
  color: white;
}

.description,
.vote,
.favorites {
  font-size: 17px;
  color: #999;
}

.favorites {
  background-color: black;
  border: 2px white solid;
  color: white;
  font-family: 'Amatic SC', cursive;
  align-self: center;
  padding: 2px 14px;
}

.favorites:hover {
  cursor: pointer;
  color: gold;
  border: 2px gold solid;
}

.favorites:disabled {
  color: gray;
  border: 2px gray solid;
  cursor: not-allowed;
}

.sign-in-please {
  text-decoration: none;
  margin: none;
  color: red;
}
