
.movie-div{
  max-width: 93%;
  margin: auto;
  height: 320px;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 1256px;
}

.info-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-family: 'Amatic SC';
  background: linear-gradient(to left, black 72%, transparent 97%);
  background-position: -27px;
  width: 72%;
  min-height: 100%;
  float: right;
}

.info-div *{
  margin-left: 22%;
  margin-top: 0;
}

.title {
  font-size: 44px;
  color: white;
}

.description,
.vote,
.favorites {
  font-size: 17px;
  color: #999;
}
.vote{
  width: 65%;
}

.favorites {
  background-color: black;
  border: 2px white solid;
  color: white;
  font-family: 'Amatic SC';
  align-self: center;
  padding: 2px 14px;
  width: 110px;
}

.favorite-wrapper{
  text-align: center;
}

.alert-div{
  width: 100%;
  margin: 0;
}

.detail-category{
  margin: 0;
  color: white;
}

.alert-div p {
margin: 11px 0px 11px 62px;
}

.favorites:hover {
  cursor: pointer;
  color: gold;
  border: 2px gold solid;
}

.favorites:disabled {
  color: gray;
  border: 2px gray solid;
  cursor: not-allowed;
}

.sign-in-please {
  text-decoration: none;
  margin: none;
  color: red;
}


/**************** MEDIA QUERIES ***************/

@media (max-width: 745px) {
  .movie-div{
height: 850px;
  }

  .info-div {
    align-items: center;
    background: linear-gradient(to top, black 62%, transparent 71%);
        width: 100%;
  }

  .info-div *{
    margin: 0;
  }

}
