.header-wrap {
  position   : relative;
  text-align : center;
}

.movie-watcher-h1 {
  color           : red;
  text-align      : center;
  text-decoration : none;
  align-self      : center;
  font-family     : 'Amatic SC',
                    cursive;
  font-weight     : bold;
}

.movie-watcher-span {
  color : white;
}

.sign-in {
  position        : absolute;
  top             : -13px;
  right           : 55px;
  color           : red;
  text-decoration : none;
  font-family     : 'Amatic SC',
                    cursive;
}

.sign-in:hover {
  color  : white;
  cursor : pointer;
}

.favorites-link {
  position        : absolute;
  top             : -13px;
  left            : 55px;
  color           : red;
  text-decoration : none;
  font-family     : 'Amatic SC',
                    cursive;
}

.favorites-link:hover {
  color           : white;
  text-decoration : none;
}
