.header-wrap {
  text-align: center;
  position: relative;
}

.movie-watcher-h1 {
  text-decoration: none;
  align-self: center;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  text-align: center;
  color: red;
}

.movie-watcher-span {
color: white;
}

.sign-in {
  font-family: 'Amatic SC', cursive;

  text-decoration: none;
  color: red;
  position: absolute;
  right: 55px;
  top: -13px;
}

.sign-in:hover {
  color: white;
  cursor: pointer;
}

.favorites-link {
  font-family: 'Amatic SC', cursive;
  text-decoration: none;
  color: red;
  position: absolute;
  left: 55px;
  top: -13px;
}

.favorites-link:hover {
  text-decoration: none;
  color: white;
}
