.header-wrap {
  text-align: center;
}

.movie-watcher-h1 {
  text-decoration: none;
  align-self: center;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  text-align: center;
  color: red;
}

.movie-watcher-span {
color: white;
}


.sign-in {
  text-decoration: none;
  color: red;
}
